<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
<<<<<<< HEAD
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
=======
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
>>>>>>> 3e22a6e171c703d07feee71fb9e5c7db0de7e32b
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
