<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
>>>>>>> 3e22a6e171c703d07feee71fb9e5c7db0de7e32b
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
